html,
* {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/SkHTtcc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  height: auto;
}
h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 70px;
  font-family: "Caesar Dressing", cursive;
}

#message {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 40px;
  font-family: "Caesar Dressing", cursive;
}

td {
  height: 80px;
  width: 80px;
  box-shadow: 1px 1px 1px black;
}

td div {
  margin: 0 auto;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  pointer-events: none;
}

tr td {
  border: 4px solid rgb(63, 63, 63);
}

button {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-family: "Caesar Dressing", cursive;
}

audio {
  visibility: visible;
}

button:hover {
  background-color: white;
  color: black;
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://i.imgur.com/zc04HzB.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 50px;
    font-family: "Caesar Dressing", cursive;
  }
}
